.about{
    font-size: 16px;
    padding: 112px 0px;
    padding-left: 100px;
    z-index: 1;
}
.about h4{
    color: #ffffff99;
    font-size: 14px;
    margin: 0px 0px 8px;
    font-weight: 600;
    font-family: serif;
}
.about p,span{
    color: #FFFFFF4D    ;
}
.about p{
    font-size: 16px;
    margin: 0px 0px 16px;
}
.about span{
    line-height: 44px;
}
.about span:hover{
    cursor: pointer;
    transition: 0.6s;
    color: #FDA403;
}
.about{
    display: flex;
    gap: 100px;
}
.about div{
    display: flex;
    flex-direction: column;
}
.about div p{
    width: 350px;
    line-height: 30px;
}
.icons i{
    color: #808080;
    font-size: 25px;
    padding-top: 17px;
    text-align: center;
    height: 60px;
    width: 60px;
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    margin-left: 20px;
}
.icons{
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: -45px;
}
.icons i:hover{
    transition: 0.3s;
    color: white;
    cursor: pointer;
}
.Copyright{
    height: 82px;
    text-align: center;
    padding-top: 35px;
    color: #808080;
    padding-bottom: 150px;
}
@media (max-width: 425px) {
    footer{
        width: 1700px;
    }
    .about{
        font-size: 16px;
        padding: 112px 0px;
        padding-left: 100px;
        z-index: 1;
    }
    .about h4{
        font-size: 54px;
        margin: 0px 0px 8px;
        font-weight: 500;
        font-family: serif;
        text-align: center
    }
    .about .lorem h4{
        width: 1400px;
    }
    .about span{
        line-height: 64px;
        font-size: 40px;
    }
    .about span:hover{
        cursor: pointer;
        transition: 0.6s;
        color: #FDA403;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .about div{
        display: flex;
        flex-direction: column;
    }
    .about .trio{
        flex-direction: row;
        gap: 100px;
    }
     .about .lorem p{
        text-align: center;
        height: 200px;
        width: 1400px;
        font-size: 46px;
        line-height: 50px;
    }
    .icons i{
        margin-top: 100px;
        font-size: 85px;
        padding-top: 50px;
        height: 200px;
        width: 200px;
    }

    .Copyright{
        height: 82px;
        text-align: center;
        padding-top: 35px;
        color: #808080;
        padding-bottom: 150px;
        font-size: 40px;
        margin-top: 100px;
    }
}
@media  (min-width: 425px) and (max-width: 768px) {
    footer {
        width: 1600px;
    }
    .about{
        font-size: 26px;
        padding: 112px 0px;
        padding-left: 100px;
        z-index: 1;
    }
    .about h4{
        color: #ffffff99;
        font-size: 24px;
        margin: 0px 0px 8px;
        font-weight: 600;
        font-family: serif;
    }
    .about p,span{
        color: #FFFFFF4D    ;
    }
    .about p{
        font-size: 20px;
        margin: 0px 0px 16px;
    }
    .about span{
        line-height: 44px;
    }
    .about{
        display: flex;
        gap: 100px;
    }
    .about div{
        display: flex;
        flex-direction: column;
    }
    .about div p{
        width: 500px;
        line-height: 40px;
        font-size: 25px;
    }
    .icons i{
        color: #808080;
        font-size: 40px;
        padding-top: 23px;
        text-align: center;
        height: 80px;
        width: 80px;
        display: block;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 50%;
        margin-left: 20px;
    }
    .icons{
        display: flex;
        justify-content: center;
        z-index: 2;
        margin-top: -25px;
    }
    .icons i:hover{
        transition: 0.3s;
        color: white;
        cursor: pointer;
    }
    .Copyright{
        height: 82px;
        text-align: center;
        padding-top: 105px;
        color: #808080;
        padding-bottom: 150px;
    }
    .Copyright p{
        font-size: 30px;
    }
    .trio{
        display: flex;
        flex-direction: row;
    }
}