.get-in{
    background-color: #f8f9fa ;
    padding-bottom: 100px;
}
.text-before-get{
    padding-top: 100px;
    padding-bottom: 80px;
}
.text-before-get h2{
    font-size: 57px;
    font-family: serif;
    font-weight: 500;
    text-align: center;
}
.text-before-get p{
    height: auto;
    width: 600px;
    margin-left: 340px;
    color: #b8b8b8;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    
}
.flex-inputs-and-img{
    display: flex;
    justify-content: space-evenly;
}
.get-in img{
    width: 370px;
    height: auto;
}
.inputs{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: serif;

}
.inputs input{
    font-size: 18px;
    outline: none;
    margin-bottom: 15px;
    width: 635px;
    background-color: #e6e6e6;
    color: #c0c0c097;
    border: none;
}
::placeholder{
    color: rgb(149, 149, 149);
}
.firstinput{
    padding: 8px 12px;
    height: 55px;
}
.message{
    height: 241px;
    display: block;
    width: 100%;
    padding: 1px 0px 200px 10px;
    font-size: 1rem;
    line-height: 1.25;

}
.inputs button{
    height: 51px;
    width: 181px;
    background: #FDA403;
    border-color: #FDA403;
    color: #fff;
    border: none;
    font-size: 18px !important;
    padding: 13px 20px;
    font-family: "Playfair Display", serif;
}
.inputs button:hover{
    cursor: pointer;    
    background-color: rgb(198, 130, 2);
    transition: 0.3s;
}
.image-text img{
    margin-bottom: 20px;
}
.image-text p{
    margin: 0px 0px 16px;
    line-height: 23px;
}
@media (max-width: 425px) {
    .get-in{
        width: 1800px;
        background-color: #f8f9fa ;
        padding-bottom: 100px;
    }
    .text-before-get h2{
        font-size: 87px;
        font-family: serif;
        font-weight: 500;
        width: 1000px;
        margin-left: 300px;
    }
    .text-before-get p{
        height: auto;
        width: 1200px;
        margin-left: 240px;
        margin-top: 20px;
        color: #b8b8b8;
        line-height: 50px;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        
    }
    .flex-inputs-and-img{
        display: flex;
        flex-direction: column;
    }
    .get-in img{
        width: 370px;
        height: auto;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-family: serif;
    
    }
    .inputs input{
        font-size: 58px;
        outline: none;
        margin-bottom: 25px;
       width: 1400px;
       margin-left: 100px;
        background-color: #e6e6e6;
        color: #c0c0c097;
        border: none;
    }
    .firstinput{
        padding: 8px 12px;
        height: 105px;
    }
    .message{
        height: 341px;
        display: block;
        width: 100%;
        padding: 1px 0px 200px 10px;
        font-size: 1rem;
        line-height: 1.25;
    }
    .inputs button{
        height: 101px;
        width: 481px;
        margin-left: 550px;
        font-size: 68px !important;
        padding: 13px 20px;
        margin-top: 80px;
    }
    .image-text img{
     margin: 100px 0px 20px 300px;
        width: 1000px;
     
    }
    .image-text p{
        font-size: 60px;
        margin: 0px 0px 106px;
        margin-left: 300px;
        line-height: 73px;
    }
}
@media (min-width: 425px) and (max-width: 768px) {

    .get-in{
        background-color: #f8f9fa ;
        padding-bottom: 100px;
        width: 1600px;
    }
    .text-before-get{
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .text-before-get h2{
        width: 1550px;
        text-align: center;
    }
    .text-before-get p{
        margin-left: 450px;
        text-align: center;
        
    }
    .flex-inputs-and-img{
        display: flex;
        justify-content: space-evenly;
    }
    .get-in img{
        width: 370px;
        height: auto;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-family: serif;
    
    }
    .inputs input{
        font-size: 18px;
        outline: none;
        margin-bottom: 15px;
        width: 635px;
        background-color: #e6e6e6;
        color: #c0c0c097;
        border: none;
    }
    ::placeholder{
        color: rgb(149, 149, 149);
    }
    .firstinput{
        padding: 8px 12px;
        height: 55px;
    }
    .message{
        height: 241px;
        display: block;
        width: 100%;
        padding: 1px 0px 200px 10px;
        font-size: 1rem;
        line-height: 1.25;
    
    }
    .inputs button{
        height: 51px;
        width: 181px;
        background: #FDA403;
        border-color: #FDA403;
        color: #fff;
        border: none;
        font-size: 18px !important;
        padding: 13px 20px;
        font-family: "Playfair Display", serif;
    }
    .inputs button:hover{
        cursor: pointer;    
        background-color: rgb(198, 130, 2);
        transition: 0.3s;
    }
    .image-text img{
        margin-bottom: 20px;
    }
    .image-text p{
        margin: 0px 0px 16px;
        line-height: 23px;
    }




} 