.text-before-menu{
    text-align: center;
    margin: 0px 0px 48px;
    padding: 0px 15px;

}
.offers{
    background-color: #f8f9fa;
    padding: 192px 0px;
    min-height: 300px;
}
.text-before-menu h1{
    font-size: 57px;
    font-family: serif;
    font-weight: 500;
    padding: 10px 0px;
}
.text-before-menu p{
    height: auto;
    width: 600px;
    margin-left: 340px;
    color: #b8b8b8;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.25rem
}
.figure{
    padding: 0px 70px;
    display: flex;
    justify-content: space-evenly;
}
.figure figure img{
    width: 360px;
}
.figure figure {
    background-color: #ffffff;
    
}
.figure figure figcaption{
    padding: 48px;
    text-align: center;
}
.figure figure figcaption h2{
    color: #fda403;
    font-size: 20px;
    margin: 0px 0px 8px;
}
.figure figure figcaption h5{
font-size: 24px;
margin: 0px 0px 8px;
}
.figure figure figcaption p{
    width: 264px;
    font-size: 16px;
    margin: 0px 0px 24px;
    color: #b8b8b8;
    line-height: 25px;
}
.figure button{
    font-size: 12px;
    width: 103px;
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: #ffffff;
    height: 40px;
}
.figure button:hover{
    cursor: pointer;    
    background-color: rgb(198, 130, 2);
    transition: 0.3s;
}
@media (max-width: 425px) {
    .offers{
    min-width: 1800px;
    }
    .text-before-menu{
        width: 1100px;
        margin-left: 200px;
    }
    .text-before-menu h1{
        font-size: 87px;
        padding: 20px 0px; 
        text-align: center;
        margin-left: 200px;
    }
    .text-before-menu p{
        height: auto;
        margin-left: 260px;
        line-height: 30px;
        font-weight: 400;
        font-size:50px ;
        line-height: 70px;
        width: 800px;
        margin-bottom: 100px;
    }
    .text-before-menu .other_design{
        margin-left: 300px;
        font-size: 40px;
    }
    .ffigure{
        display:none;
    }
    .figure{
        padding: 0px 70px;
        display: flex;
        justify-content: space-evenly;
    }
    .figure figure img{
        width: 100%;
    }
 
    .figure figure figcaption{
        padding: 58px;
        text-align: center;
    }
    .figure figure figcaption h2{
        font-size: 60px;
        margin: 0px 0px 8px;
    }
    .figure figure figcaption h5{
    font-size: 84px;
    margin: 0px 0px 8px;
    }
    .figure figure figcaption p{
        width: 664px;
        font-size: 46px;
        margin: 0px 180px 34px;
        line-height: 65px;
    }
    .figure button{
        font-size: 42px;
        width: 403px;
        padding: 10px 20px;
        height: 140px;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    .offers{
        background-color: #f8f9fa;
        padding: 172px 0px;
        min-height: 300px;
        min-width: 200%;
    }
   
    .text-before-menu h1{
        text-align: center;
        width: 1500px;
    }
    .text-before-menu p{
        margin-left: 400px;
        width: 700px;
        font-size: 25px;
    }
    .figure{
        padding: 0px 70px;
        display: flex;
        justify-content: space-evenly;
    }
    .figure figure img{
        width: 360px;
    }
    .figure figure {
        background-color: #ffffff;
        
    }
    .figure figure figcaption{
        padding: 48px;
        text-align: center;
    }
    .figure figure figcaption h2{
        color: #fda403;
        font-size: 20px;
        margin: 0px 0px 8px;
    }
    .figure figure figcaption h5{
    font-size: 24px;
    margin: 0px 0px 8px;
    }
    .figure figure figcaption p{
        width: 264px;
        font-size: 16px;
        margin: 0px 0px 24px;
        color: #b8b8b8;
        line-height: 25px;
    }
    .figure button{
        font-size: 12px;
        width: 103px;
        padding: 10px 20px;
        border: none;
        background-color: orange;
        color: #ffffff;
        height: 40px;
    }
    .figure button:hover{
        cursor: pointer;    
        background-color: rgb(198, 130, 2);
        transition: 0.3s;
    }



}
